@media (max-width: 1200px) {
  .top-container {
  padding-bottom: 120px;
}

.tag-input-box input {
  width: 600px;
}

.title {
  font-size: 1.8em;
  white-space: nowrap;
}
}

@media (max-width: 900px) {
 .top-container {
  padding-bottom: 120px;
}

.tag-input-box input {
  width: 400px;
}
}  

@media (max-width: 600px) {
 .top-container {
  padding-bottom: 120px;
}
}
@media (max-width: 450px) {
 .tag-input-box input {
  width: 280px;
}

.region, .country {
 font-size: 13px;
}

.location .date , .dot{
  font-size: 13px;
}

}


@media (max-width: 420px) {
 .tag-input-box input {
  width: 250px;
}

.region, .country {
 font-size: 12px;
}

.location .date , .dot{
  font-size: 12px;
}

.explore-container {
  margin: auto 20px;
  margin-bottom: 100px;
}
}

