@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif; 
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(0.95);
  animation: pop-in 0.9s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  80% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}


html {
  scroll-behavior: smooth;
}