@media screen and (max-width: 600px) {
  .nav-link {
    display: none;
  }
   #hamburger-nav {
    display: flex;
  }
}
@media screen and (max-width: 400px) {
  .nav-link {
    display: none;
  }
   #hamburger-nav {
    display: flex;
  }
}
@media screen and (max-width: 1200px) {
  .nav-link {
    display: none;
  }
   #hamburger-nav {
    display: flex;
  }
}
@media screen and (max-width: 700px) {
  .nav-link {
    display: none;
  }

   #hamburger-nav {
    display: flex;
  }
}
@media screen and (max-width: 360px) {
 #header {
  padding-left: 15px;
 padding-right: 25px;
 }
}

