.success-card {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  text-align: center;
  animation: popIn 0.3s ease-out, 
             fadeOut 0.4s ease-in forwards;
  animation-delay: 0s, 2.6s;
}

.checkmark {
  width: 80px;
  height: 80px;
  stroke:  #74cdf3;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.checkmark-circle {
  stroke-dasharray: 157;
  stroke-dashoffset:157 ;
  animation: circle-draw 0.6s ease-out forwards;
}

.checkmark-check {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: check-draw 0.6s ease-out forwards;
  animation-delay: 0.6s;
}

.success-p {
  color: #00bfff;
   font-weight: 600;
}

@keyframes circle-draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes check-draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes popIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}